body {
    width: 400px;
    height: 550px;
    background-image: url("blue.jpg");
    background-size: 200px;
}

h1 {
    color: #ffffff;
    /* background-color: #d6fff1; */
    padding: 20px;
    margin: 20px;
    /* border: 1px solid #9ddcc7; */
    border-radius: 8px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 60;
    font-family: Arial, Helvetica, sans-serif;
    
}

.timer {
    color: #393838;
    background-color: #d6fff1;
    padding: 20px;
    margin: 20px;
    border: 1px solid #9ddcc7;
    border-radius: 8px;
    opacity: 0.8;

}

#inhale {
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ffffff; 
    border-radius: 8px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

#inhale:hover {
    color: white;
    background-color: #c5d7ff;
    border: 1px solid #ded8fe
}

#stretch {
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ffffff; 
    border-radius: 8px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
}
#stretch:hover {
    color: white;
    background-color: #c5d7ff;
    border: 1px solid #ded8fe
}

#wonderful {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    letter-spacing: 5px;
}

#time {
    padding: 10px;
    margin: 10px;
    border: 1px solid #c8ebde;
    border-radius: 8px;
    text-align: center;
    font-size: 14
}
#time:focus {
    box-shadow: none;
    outline: 0;
}

#countdown {
    color: #262626;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

#submit {
    color: black;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c4f0df;
    border-radius: 8px;
    letter-spacing: 2px;
    font-weight: 600;
    float: right;
}
#submit:hover {
    color: white;
    background-color: #81aba6;
}
#submit:focus {
    box-shadow: none;
    outline: 0;
}

